---
layout: excel
title: Curso de Excel profesional
comments: false
---
<h1>Curso de Excel</h1>

<p>¡Bienvenidos al curso gratuito de Excel profesional!</p>

<p>Antes de nada, quiero hacer una aclaración, éste es un curso de Excel profesional, no un curso profesional de Excel. Esto significa que iré publicando consejos y trucos para utilizar Excel en el trabajo, pero lo iré haciendo cuando tenga tiempo (que yo también trabajo, y mucho).</p>

<p>¿Para qué sirve este curso de Excel, si yo ya sé utilizarlo? Muy sencillo, no es difícil hacer pequeñas cosas con Excel, un informe de ventas, una previsión de ingresos y gastos, etc. Lo que sí es más difícil es que ese informe sea un informe profesional, no solo un conjunto de sumas y multiplicaciones con celdas de colores... En el trabajo se ve muchas veces documentos preparados por compañeros que tienen un conocimiento superficial de Excel, suelen tener una estructura pobre, a veces el formato no es coherente entre varias hojas... Aquí aprenderemos a preparar documentos sólidos, versátiles y con apariencia profesional.</p>

<p>Empezaremos con una clase sobre cómo movernos en una hoja de Excel, y luego iremos avanzando poco a poco.</p>

<ol>
	{% assign sorted_pages = site.pages | sort:"order" %}
	{% for page in sorted_pages %}
		{% if page.url contains "excel/" and page.url != "/excel/" and page.url != "/excel/under_construction.html" %}
			<li><a href="{{page.url}}">{{page.title}}</a></li>
		{% endif %}
	{% endfor %}
</ol>