<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		<!-- HEADER -->
		<div id="header_wrap" class="outer">
			<header class="innerh">
				<h1 id="project_title">Javier Díaz Bustamante</h1>
				<h2 id="project_tagline">Esta es mi página personal. En ella no hablaré de mi, sino que daré consejos y trucos de Android (lo poco que sé) y Excel, que espero os sean útiles.</h2>

				<nav>
					<ul>
						<li><a href="/" class="nav_link">Inicio</a></li>
						<li><a href="/enlaces" class="nav_link">Enlaces</a></li>
						<li><a href="/excel" class="nav_link">Curso de Excel</a></li>
					</ul>
				</nav>
			</header>
		</div>

	    <!-- MAIN CONTENT -->
		<div id="main_content_wrap" class="outer">
			<section id="main_content" class="inner">
				{{ content }}
			</section>
		</div>


		<!-- FOOTER  -->
		{% include footer.html %}



	</body>
</html>