<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="description" content="Javier Diaz Bustamante">

		<link rel="stylesheet" type="text/css" media="screen" href="css/main.css">

		<title>{{ page.title }}</title>
	</head>

	<body>

		<!-- HEADER -->
		<div id="header_wrap" class="outer">
			<header class="innerh">
				<h1 id="project_title">JCurso de Excel profesional</h1>

				<nav>
					<ul>
						<li><a href="/" class="nav_link">Inicio</a></li>
						<li><a href="/enlaces" class="nav_link">Enlaces</a></li>
						<li><a href="/excel" class="nav_link">Curso de Excel</a></li>
					</ul>
				</nav>
			</header>
		</div>

	    <!-- MAIN CONTENT -->
		<div id="main_content_wrap" class="outer">
			<section id="main_content" class="inner">
				{{ content }}
			</section>
		</div>


		<!-- FOOTER  -->
		<div id="footer_wrap" class="outer">
			<footer class="innerf">
				<p class="copyright">Website maintained by <a href="https://github.com/javidbu">javidbu</a></p>
				<p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
			</footer>
		</div>

    

	</body>
</html>